.h100 {
  height: 100vh;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex1{
  flex: 1;
}
.text-white{
  color: #fff;
}
.pointer{
  cursor: pointer;
}
.page-content{
  padding: 24px;
  .h2{
    font-size: 1.2em;
    margin-bottom: 14px;
  }
}