<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ghx.xboot.mapper.UserMapper">

    <select id="getUserMenu" resultType="cn.ghx.xboot.menu.Menu">
        select m.*
        from t_menu m
                 inner join t_role_menu rm on (rm.menu_id = m.id)
                 inner join t_user u on (u.role_id = rm.role_id)
        where u.id = #{userId}
        order by m.code, m.sort
    </select>
</mapper>
